* {
  list-style: none;
}

body {
  width: 1080px;
  margin: auto;
  position: relative;
}
header {
  margin-top: 50px;
  height: 90px;
}

nav {
  height: 300px;
  float: right;
}

.logo {
  height: 70px;
  width: 390px;
  display: inline-block;
}

.logo img {
  height: 60px;
}

.logo h1 {
  font-size: 45px;
  font-family: 'Yellowtail', cursive;  width: 120px;
  color: #282828;
  float: right;
  margin: 19px 210px 0px 0px;
  line-height: 5px;
}

.logo h2 {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;  color: #707070;
  width: 210px;
  float: right;
  line-height: 15px;
  margin: -16px 113px 0px 0px;
}

.links {
  float: right;
}

.links img {
  height: 33px;
}

.links li {
  display: inline;
}

.stripes  {
  height: 18px;
  background: repeating-linear-gradient(45deg, white, white 2px, grey 2px, lightGrey 4px);
}

main h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin-top: 55px;
  margin-bottom: 0px;
}

main ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: #707070;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.date_print li {
  display: inline;
}

.print_img {
  float: right;
}

.hero_img {
  width: 100%;
}

main p {
  color: #707070;
  font-size: 25px;
  
}

.recipe {
  background-image: url("img/list-bg.png");
}
